
.Card{
    background-color: hsl(20, 15.00%, 7.80%);
    color: hsl(20, 5.70%, 89.60%);
    width: 250px;
}

.inactive:hover{
    transform: translate(0px, -10px);
}

.active{
    background-color: hsl(9, 89.30%, 43.90%);
    width: 400px;
}
