.SkillsPanel{
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: wheat;
}

.SkillsPanel > h2{
    margin: 0rem 2rem 0rem 2rem;
    font-size: 3rem;
}

.SkillsPanel > p{
    margin: 0rem 2rem 0rem 2rem;
    font-size: 1.4rem;
}

.SkillsContainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    overflow-x: auto;
    margin: 1rem 5rem 1rem 5rem;
}

.Card{
    background-color: hsl(15, 3%, 25%);
    color: hsl(20, 5.70%, 89.60%);
    min-width: 20rem;
    max-width: 20rem;
    height: 22rem;
    border: hsl(60, 1%, 19%);
    border-style: solid;
    border-radius: 1rem 1rem 0rem 0rem;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 500ms;
}

.inactive:hover{
    transform: translate(0px, -2rem);
    background-color: hsl(12, 3%, 34%);
    display: block;
}

.active{
    background-color: hsl(231, 60%, 34%);
    min-width: 40rem;
    border-radius: 1rem 0rem 0rem 1rem;
    display: flex;
    flex-direction: row;
}

.inactive > img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

.active > img{
    height: 100%;
    width: 20rem;
    object-fit: cover;
    border-radius: 1rem 0rem 0rem 1rem;
}

.Card > .DescContainer{
    margin: 1rem 1rem .5rem 1rem;
}

.Card > .DescContainer > p, h2 {
    margin: 1rem .5rem 1rem .5rem;
    white-space: pre-line;
}